.customer__container {
  margin-top: 169px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customer__right {

padding-left: 100px;
}
.customer__right h5 {
  color: #22343D;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}